@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .gradient-tl {
    background-image: linear-gradient(90deg, #fff 20%, transparent);
  }
  .gradient-tr {
    background-image: linear-gradient(90deg, transparent, #fff);
  }
  .shadow-logo {
    filter: drop-shadow(2px 2px 15px #388ff3);
  }
  .footer-img {
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
  }
}
body {
  background-color: #f0f3f7;
  color: #16191d;
}
